.adopters {
    h1 {
        margin-top: 10rem;
        letter-spacing: -1px;
        text-align: center;
        color: $primary !important;
        font-size: 2rem !important;
    }

    h2 {
        text-align: center;
        font-size: 1.5rem !important;
        margin-bottom: 2rem;
    }

    h3 {
        text-align: center;
        font-size: 1.3rem !important;
        margin-bottom: 3rem;
    }
    
    p {
      display:  flex;
      img {
        margin: 0 auto;
        width: 60rem;
      }
      
   }
   tr {
        display: block;
        box-sizing: border-box;
        padding-bottom: 5rem;

        td:first-of-type {
            width: 25rem;
        }

        td {
            font-size: 1.1rem;
            display: table-cell;
            line-height: 1.5rem;
            vertical-align: top;
            min-width: 11rem;
            @media (max-width: 576px) {
                display: block;
            }

            @media (max-width: 768px) {
                display: block;
            }
              

            img {
                max-width: 10rem;
            }
        }
   }
}