// Theme colors

$primary: #0b8062 !default;
$navbar-brand-font-size: 1.875rem;
$td-fonts-serif: "BentonSans", "Arial", -apple-system, sans-serif;
$font-family-sans-serif: $td-fonts-serif !default;
$font-family-base: $font-family-sans-serif !default;
$navbar-dark-color: white !default;
$td-enable-google-fonts: false;