
        </div> 
        {{ partial "custom-comments.html" . }}
      </div>


        <!-- Next prev page -->
        {{ $currentNode := . }}

        {{if $currentNode.Params.remote}}
            {{$page := $currentNode.Params.remote}}
            <div class="howto_tickets">
                <span class="open_github_ticket">
                    <h3 class="open_github_ticket_header"><img src="/images/github.svg"/> Report an issue</h3>
                    See a typo? Have a picture to recommend? Want to edit some words/phrases/sentences?
                    You can simply submit a ticket to request we make the change. If you are github savvy, submit a
                    pull request.
                    {{ $array := (split (replace .Params.remote "https://github.com/" "") "/") }}
                    {{ $org := (index $array 0) }}
                    {{ $repo := (replace (index $array 1) ".git" "/") }}
                    <a href="#" onclick="return createIssue('https://github.com/{{$org}}/{{$repo}}/issues/new','{{$page}}','{{$page}}')" target="_blank">Open Github Issue <i class="fa fa-external-link" aria-hidden="true"></i></a>
                    <br>
                </span>
            </div>
        {{else}}
            {{$page := (print .Site.Params.editURL ( replace .File.Dir "\\" "/" ) .File.LogicalName)}}
            <div class="howto_tickets">
                <span class="open_github_ticket">
                    <h3 class="open_github_ticket_header"><img src="/images/github.svg"/> Report an issue</h3>
                    See a typo? Have a picture to recommend? Want to edit some words/phrases/sentences?
                    You can simply submit a ticket to request we make the change. If you are github savvy, submit a
                    pull request.
                    <a href="#" onclick="return createIssue('{{$.Site.Params.issueURL}}/new','{{.File.Dir}}{{.File.LogicalName}}','{{$page}}')" target="_blank">Open Github Issue <i class="fa fa-external-link" aria-hidden="true"></i></a>
                    <br>
                </span>
            </div>

        {{end}}


    </section>
    
    <div style="left: -1000px; overflow: scroll; position: absolute; top: -1000px; border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;">

      <div style="border: none; box-sizing: content-box; height: 200px; margin: 0px; padding: 0px; width: 200px;"></div>
    </div>
    <script src="{{"js/clipboard.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/perfect-scrollbar.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/perfect-scrollbar.jquery.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/jquery.sticky.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/featherlight.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/html5shiv-printshiv.min.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/highlight.pack.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script>hljs.initHighlightingOnLoad();</script>
    <script src="{{"js/modernizr.custom.71422.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/learn.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script src="{{"js/hugo-learn.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>

    <link href="{{"mermaid/mermaid.css" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}" type="text/css" rel="stylesheet" />
    <script src="{{"mermaid/mermaid.js" | relURL}}{{ if not .Site.Params.disableAssetsBusting }}?{{ now.Unix }}{{ end }}"></script>
    <script>
        mermaid.initialize({ startOnLoad: true, htmlLables: true });
        function createIssue(issueUrl, page, url) {
            var uri = issueUrl+"?title=Documentation issue on page \""+page+"\"";
            uri = uri+ "&body=\n\n<- DESCRIBE MISSING OR FAULTY DOCUMENTATION HERE->\n\n---\nPage: ["+ page +"]("+
            url+ ")\ndon't remove the link to the page. It's required for the processor"
            var res = encodeURI(uri);
            res +="&labels=area/documentation"
            window.open(res,"issue")
            return false;
        }

        $(document).ready(function() {
            var $window = $(window);
            $window.sr = ScrollReveal({ reset: false});
            $window.sr.reveal('.reveal-fast', { duration: 2000 });
            $window.sr.reveal('.reveal-slow', { duration: 2500 });
            $window.sr.reveal('.reveal-right', { duration: 2000, origin:'right', distance:'300px' });
            $window.sr.reveal('.reveal-left', { duration: 2000, origin:'left', distance:'300px' });

            inlineSVG.init();
        });

    </script>
    {{ partial "custom-footer.html" . }}
  </body>
</html>
