*
!.vitepress/
.vitepress/cache/
.vitepress/dist/
!hugo/content/
!package*.json
!pnpm-lock.yaml
!pnpm-workspace.yaml
!.npmrc
!tsconfig.json
# git wird fuer VitePress lastUpdated (git log pro Seite) benoetigt
!.git/
