{{$catMap := dict}}
{{/* Custom cascade with merge instead of override*/}}
{{ range sort .Site.Pages ".Permalink" "asc" }}
  {{ $propagatedCategories := (slice .Params.persona )}}
  {{ $permalink := .Permalink}}
  {{/* Iterate catMap and search for parent node(current Permalink begins with interated Permalink) */}}
  {{/* Merge propagated categories with parents categories */}}
  {{ range $parentPermalink,$parentCategories := $catMap }}
    {{ if hasPrefix $permalink $parentPermalink}}
      {{ $propagatedCategories = union $parentCategories $propagatedCategories }}
    {{ end }}
  {{ end }}
  {{$catMap = merge $catMap (dict .Permalink $propagatedCategories)}}
{{ end }}
{{/* Bottom up parent category merge*/}}
{{ range sort .Site.Pages ".Permalink" "desc" }}
  {{if .Parent}}
    {{ $parentPath := .Parent.Permalink}}
    {{$catMap = merge $catMap (dict $parentPath (union (index $catMap $parentPath) (index $catMap .Permalink) )) }}
  {{end}}
{{end}}
{{ return $catMap }}