<footer class="footer row d-print-none">
  <div class="container-fluid footer-wrapper">
    <ul class="nav">
      {{- with .Site.GetPage "section" "documentation/020_getting-started" -}}
      <li><a href='{{ .Permalink }}'>{{.Title}}</a></li>
      {{- end -}}
      {{- with .Site.GetPage "section" "blog" -}}
      <li><a href='{{ .Permalink }}'>{{.Title}}</a></li>
      {{- end -}}
      {{- with .Site.GetPage "section" "news" -}}
      <li><a href='{{ .Permalink }}'>{{.Title}}</a></li>
      {{- end -}}
      {{- with .Site.GetPage "section" "community" -}}
      <li><a href='{{ .Permalink }}'>{{.Title}}</a></li>
      {{- end -}}
      {{- with .Site.GetPage "section" "adopter" -}}
      <li><a href='{{ .Permalink }}'>{{.Title}}</a></li>
      {{- end -}}
      {{- with .Site.GetPage "section" "docs" -}}
      <li><a href='{{ (or .Params.remoteUrl .Params.redirectUrl .Permalink) | relURL }}'>Documentation</a></li>
      {{- end -}}
    </ul>
    <img src='{{"images/lp/gardener-logo.svg" | relURL}}' alt="Logo Gardener" class="logo" />
    <ul class="media-wr">
      <li>
        <a target="_blank" href="https://kubernetes.slack.com/archives/CB57N0BFG">
          <img src='{{"images/branding/slack-logo-white.svg" | relURL}}' class="media-icon" />
          <div class="media-text">Slack</div>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://github.com/gardener">
          <img src='{{"images/branding/github-mark-logo.png" | relURL}}' class="media-icon" />
          <div class="media-text">GitHub</div>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://www.youtube.com/channel/UCwUhwKFREV8Su0gwAJQX7tw">
          <img src='{{"images/branding/youtube-logo-dark.svg" | relURL}}' class="media-icon" />
          <div class="media-text">YouTube</div>
        </a>
      </li>
      <li>
        <a target="_blank" href="https://x.com/GardenerProject">
          <img src='{{"images/branding/x-logo-white.svg" | relURL}}' class="media-icon" />
          <div class="media-text">X</div>
        </a>
      </li>
    </ul>
    {{with .Site.Params.copyright}}
    <span class="copyright">{{.}} {{with $.Site.Params.termsOfUseURL}}
      <a href='{{.}}'>
        Terms of Use
        <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
      | 
      <a href='{{.}}'>
        Privacy Statement
        <i class="fa fa-external-link" aria-hidden="true"></i>
      </a>
      | 
      <a href='{{.}}'>
        Legal Disclosure
        <i class="fa fa-external-link" aria-hidden="true"></i>
    </a>
    {{end}}</span>
    {{end}}
  </div>
</footer>