<ul class="news-feed">
  {{$maxNews := 3}}
  {{$i := 0}}
  {{ range $index, $page := sort (where $.Site.Pages "Section" "==" "blog") ".Params.publishdate" "desc"}}
  {{$isExpired:= false}}
  {{with $page.Params.archivedate}}
  {{$exp := time $page.Params.archivedate}}
  {{$isExpired = $exp.Before now}}
  {{end}}
  {{$isNotPublishTime:= false}}
  {{with $page.Params.publishdate}}
  {{$d := time $page.Params.publishdate}}
  {{$isNotPublishTime = $d.After now}}
  {{end}}
  {{if or (ge $i $maxNews) (or $isExpired $isNotPublishTime (eq $page.Params.aggregate true)) }}
  {{else}}
  {{$isNewsBox := true}}
  {{$i = add $i 1 }}
  <li class="news-box">
    <a href='{{.Permalink | absURL}}'>
      <div class="feed-heading">
        <span class="name">{{or $page.LinkTitle $page.Title}}</span>
        <span class="sub-title">{{$page.Params.newsSubtitle}}</span>
      </div>
    </a>
    {{ if $isNewsBox }}
    <div class="content lity-hide" id='{{$index}}'>
      <div data-url='{{.Permalink | absURL}}' class='{{or $page.Params.newsType "news-item"}}'>{{$page.Content}}</div>
    </div>
    {{ end }}
  </li>
  {{end}}
  {{end}}
</ul>

{{ $assetBusting := not .Site.Params.disableAssetsBusting }}
<link href='{{"/lity/lity.css" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}' rel="stylesheet">
<script src='{{"/lity/lity.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>
<script src='{{"js/clipboard.min.js" | relURL}}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>
