$primary-color: rgb(0, 159, 118);
$primary-dark: #161a22;
$secondary-color: #33C3F0;

h1, h2, h3, h4 {
  text-align: left;
  font-weight: 300;
}

h2 {
  font-size: 1.4em;
  margin-bottom: 0;
}

h3 {
  font-size: 1em;
}

.faqs h1 {
  padding-left: 30px !important;
  padding-bottom: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, .05)
}

.sticky {
  position: -webkit-sticky;
  position: -moz-sticky;
  position: -o-sticky;
  position: -ms-sticky;
  position: sticky;
  top: 0;
  left: 0;
  right: 0;
  display: block;
  z-index: 1;
}

.externalLink {
  color: $primary-color;
  i {
    padding-left: 5px;
    font-size: 80%;
  }
}

.header-link {
  font-size:0.7em
}

.collapse-list {
  margin-bottom: 0;
  padding-left: 0;
  padding-bottom: 30px;
  list-style: none;
}

.collapse-open {
  display: none !important;
}

.collapse-panel {
  visibility: hidden;
  max-height: 0;
  opacity: 0;
  transition: max-height .1s,  visibility .3s,  opacity .3s;
}

.collapse-open:checked ~ .collapse-panel {
  max-height: 100%;
  opacity: 100;
  visibility: visible
}

.last-update {
  font-size: 10px;
}

ul {
  list-style: circle outside;
}

li.collapse-list {
}

.collapse-list .collapse-btn {
  cursor: pointer;
  display: block;
  padding: 15px 10px;
  margin-bottom: 0;
  font-weight: normal;
  transition: background-color .2s ease;
  background-color: white;
}

.collapse-list .collapse-inner {
  padding: 10px;
  padding-bottom: 30px;
}