$primary-color: rgb(0, 159, 118);
$primary-dark: #161a22;

@mixin debugmessage($message, $color: rgba(255,255,0, 0.9) ){ &::before{ content: $message; font-weight: bold; display: block; text-align: center; background: #{$color}; position: absolute; right: 0; left: 0; top: 0; z-index: 99; } }

.learning {
  .topic-preamble {
  //  padding-left:30px;
    margin-bottom:50px;
  }

  .topic{

    h1{
      font-size:2rem;
      background-color:white;
      margin:0;
      padding:0;
      padding-left:30px;
      padding-top:40px;
      padding-bottom:5px;
      border-bottom: 1px solid rgba(0,0,0,0.05);
    }


    .sticky {
      position: -webkit-sticky;
      position: -moz-sticky;
      position: -o-sticky;
      position: -ms-sticky;
      position: sticky;
      top: 0;
      left: 0;
      right: 0;
      display: block;
      z-index: 1;
    }

    .entry {
      font-size: 1.5rem;
      padding: 0;
      margin: 0;
      padding-left: 50px;
      padding-top: 5px;
      letter-spacing: 1px;
      a{
        color:black;
      }
    }
  }
}

@media only screen and (max-width: 1050px) {
  /*  body{ @include debugmessage("only screen and (max-width: 1050)"); } */
  .learning {
  }
}


@media only screen and (max-width: 800px) {
/*  body{ @include debugmessage("only screen and (max-width: 800)"); } */
  .learning {
  }
}

