$primary-color: rgb(0, 159, 118);
$primary-dark: #161a22;
$secondary-color: #33C3F0;

.offering {

  min-height:900px;
  h1 {
    font-size:5vw !important;
  }
  h1:first-child{
    padding-top:40px;
  }
  h2 {
    font-size:3vw;
    margin-top:50px;
    text-align: center  !important;
    border:0 !important;
    color: $secondary-color !important;
  }
  h3 {
    font-size:1.5vw;
  }
  .preamble {
    margin-top:50px;
    font-style: italic;
    font-size: 1.5em;
  }

  li { list-style-position: outside; }

  .plans{
    margin-top:50px;

    .kube_plan {
      background-color: rgba(0, 0, 0, 0.02);
      padding-bottom: 130px;
      margin-bottom:50px;
      position: relative;
      border:1px solid rgba(0,0,0,0.09);
      border-radius: 3px;
      .anouncement {
        position: relative;
        padding: 20px;
        height:100%;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
        div:last-child {
          bottom: 0;
          position: absolute;
          text-align: center;
          width: 100%;
          .button {
          }
        }
        .plan_header {
          border-bottom: 1px solid #33C3F0;
          border-top: 1px solid #33C3F0;
          margin-top: 15px;
          h2 {
            font-weight: 200;
            font-size: 3vw;
            padding: 0;
            margin: 0;
            margin-top: 10px;
          }
          h3 {
            color: $secondary-color !important;
            font-weight: 300;
            font-size: 1.5vw;
            padding: 0;
            margin: 0;
            text-align: center;
            margin-top: 10px;
            margin-bottom: 10px;
          }
        }
      }
      .features{
        bottom:5px;
        position:absolute;
        text-align: center;
        width:100%;
        color: $secondary-color !important;
      }
    }
  }
}




/* Larger than tablet */
@media (min-width: 550px) {
  .offering {
    .plans {
      display: flex;
    }
  }
}
