body {
    font-family: Roboto,sans-serif;
    -webkit-font-smoothing: antialiased;
    background-color: #fafafa
}

body > div {
    padding:40px;
    border:1px solid cadetblue;
}


.jquery_loaded {
    display:block;
}