pre {
  min-width: 12em;
  max-height: 31em;
  margin: 0;
  border: 0;
  border-radius: 2px;
  font-size: 87.5%;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  tab-size: 4;
  hyphens: none;
  overflow: auto;
  background: inherit;
  line-height: 1.15;
  box-shadow: 1px 1px 5px -1px #000;
  color: var(--textCodeColor);
  &.chroma {
    /* Using grid display for pre.chroma elements for its
       side effect to wrap the pre-formatted code responsively */
    display: grid;
  }
  &:hover code + .toolbox {
    display: flex;
  }
  & > code {
    border: 0;
    margin: 0;
    padding: 8px 7px;
    border-radius: 2px;
    //white-space: nowrap;
    white-space: pre;
    overflow: auto;
    font-size: inherit;
    color: initial;
    line-height: 1.3;
    & + .toolbox {
      display: none;
      position: absolute;
      top: 0px;
      right: 0px;
      padding: 2px;
      border-bottom-left-radius: 2px;
      background: #eee;
      .tool {
        display: inline-block;
        flex: 1 0 auto;
        position: relative;
        &:not(:first-child) {
          margin-left: 5px;
        }
        &.icon {
          border: 0 !important;
          font-size: inherit !important;
          vertical-align: middle;
          background-size: 24px 24px;
          background-repeat: no-repeat;
          width: 26px;
          height: 26px;
          @media (min-width: 1000px) {
            background-size: 18px 18px;
            width: 20px;
            height: 20px;
          }
        }
        &.download {
          background-image: url(../images/icons/download.svg);
        }
        &.copy-to-clipboard {
          background-image: url(../images/icons/copy-to-clipboard.svg);
          cursor: pointer;
        }
        // Temporary to override theme
        &.copy-to-clipboard {
          background-color: inherit;
          color: inherit;
          top: initial;
          right: initial;
        }
      }
    }
  }
}
pre code.hljs + span.copy-to-clipboard {
  // Temporary !important to override theme
  display: initial;
}
pre .copy-to-clipboard:hover {
  background-color: inherit;
  color: inherit;
}
pre.mermaid {
  max-height: none;
  box-shadow: none;
  font-size: 0;
}

@media print {
  pre {
    min-width: none !important;
    max-height: none !important;
  }
}

button.fas.fa-copy.btn.btn-sm.td-click-to-copy {
  position: absolute !important;
  background-color: #fff !important;
  z-index: 10 !important;
  margin-top: 5px !important;
}