.footer {
  min-height: auto !important;
  background-image: url(../images/footer-green-blur.svg);
  background-position: center;
  background-size: cover;
  padding: 40px 0;
  color: #fff;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  a {
    text-decoration: none;
    color: #fff;
    font-family: $font-family-regular;
  }
  .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 3rem;
    font-size: 1.2rem;
    line-height: 1.5;
    @media (min-width: 750px) {
      font-size: 18px;
      line-height: 48px;
    }
    * {
      margin-bottom: 0;
      &:not(:last-child) {
        &:after {
          content: "|";
          margin: 0 10px;
        }
      }
    }
  }
  ul.nav {
    list-style: none;
  }
  .logo {
    height: 64px;
  }
  ul.media-wr {
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 20px 0 30px;
    li {
      margin: 0 20px;
      a {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
    .media-icon {
      height: 32px;
      max-width: unset;
    }
  }
  .media-wr {
    .media-text {
      display: none;
      text-align: center;
    }
  }
  .copyright {
    font-size: .9rem;
    line-height: 1.1rem;
    color: #e1e1e1;
    text-align: center;
    @media (min-width: 750px) {
      font-size: 14px;
      line-height: 16px;
    }
  }
}
.footer-wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
}
@media (min-width: 750px) {
  .footer {
     .nav {
      line-height: 24px;
    }
    .logo {
      height: 90px;
    }
    .media-wr {
      justify-content: flex-start;
      li {
        margin-right: 20px;
      }
      .media-icon {
        margin-bottom: 4px;
      }
      .media-text {
        display: initial;
        font-size: 1.5rem;
      }
    }
  }
}
