.responsive-video {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0px;
  height: 0;
  overflow: hidden;
  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

body {
  &.has-sticky-navigation {
    #hero {
      @media (min-width: 1000px) {
        margin-bottom: 60px;
      }
    }
  }
}

.landingpage {
  #hero {
    display: flex;
    align-items: center;
    width: 100%;
    padding: calc(#{$header-height} + 5vh) 0 2vh;
    background-image: url(../images/lp/lp-header-green-8.svg);
    background-position: 90% top;
    background-size: cover;
    background-color: #099e75;
    background-repeat: no-repeat;
    margin-bottom: -1px;
    @media (min-width: 1000px) {
      padding-bottom: calc(1.5rem*10/16);
    }
    .container {
      & > .content {
        display: flex;
        .hero-img {
          flex: 1 0 50%;
          display: none;
          text-align: right;
          position: relative;
          @media (min-width: 750px) {
            display: block;
          }
          img {
            display: inline-block;
            /* width: 100%; */
            height: auto;
            max-height: 323px;
          }
        }
        .hero-text {
          flex: 1 0 50%;
          display: flex;
          flex-flow: column;
          align-items: center;
          width: 100%;
          margin-bottom: calc(2rem*10/16);
          color: #fff;
          @media (min-width: 750px) {
            padding-top: calc(4rem*10/16);
            align-items: flex-start;
            justify-content: space-between;
          }
          .wr {
            display: flex;
            flex-flow: column;
            align-items: center;
            margin-bottom: 15px;
            @media (min-width: 750px) {
              padding-right: 25px;
              align-items: flex-start;
            }
            @media (min-width: 1000px) {
              padding-right: 0;
            }
          }
          .title-2 {
            text-transform: uppercase;
            line-height: 1.2;
            font-family: $font-family-bold;
            font-size: 12px;
            letter-spacing: 0.86px;
            margin-bottom: calc(1.5rem*10/16);
            @media (min-width: 750px) {
              font-size: calc(1.3rem*10/16);
            }
            @media (min-width: 1000px) {
              font-size: calc(1.4rem*10/16);
            }
          }
          .sub-title {
            width: 100%;
            text-align: center;
            font-size: calc(2.3rem*10/16);
            line-height: 1.3;
            margin-bottom: calc(1.5rem*10/16);
            @media (min-width: 750px) {
              font-size: calc(2.8rem*10/16);
              line-height: 1.2;
              text-align: left;
            }
            @media (min-width: 1000px) {
              font-size: calc(4rem*10/16);
              line-height: 1.2;
            }
          }
          .sub {
            font-size: calc(1.5rem*10/16);
            @media (min-width: 750px) {
              font-size: calc(1.4rem*10/16);
            }
            @media (min-width: 1000px) {
              font-size: calc(1.5rem*10/16);
            }
          }
          .sub {
            a {
              color: $font-color;
              font-family: $font-family-regular;
            }
          }
          img {
            width: 100%;
            height: auto;
            max-width: 70px;
            margin-bottom: 30px;
            @media (min-width: 750px) {
              display: none;
            }
          }
          .hero-actions {
            display: flex;
            flex-flow: column;
            justify-content: center;
            align-items: center;
            @media (min-width: 750px) {
              flex-flow: row;
              flex-wrap: wrap;
              justify-content: flex-start;
              width: 130%;
              & > :first-child {
                margin-right: 20px;
                margin-bottom: 0;
              }
            }
            & > :first-child {
              @media (max-width: 750px){
                margin-bottom: 20px;
              }
            }
            .btn.action-btn {
              padding: 10px 40px !important;
              background-color: $color-highlight;
              color: #fff;
              font-size: 1.8rem !important;
              &:hover {
                background: #004d3a;
              }
              &.movie {
                background-color: #007db8;
                & > :first-child {
                  margin-right: 10px;
                }
                &:hover {
                  background-color: #f0ab00;
                }
              }
            }
          }
        }
      }
    }
  }
  .section-title {
    text-align: center;
    margin-bottom: 1.5em;
    &.title-3 {
      text-align: center;
      margin-bottom: 1em;
    }
    + .sub-title {
      margin-top: -0.5em;
    }
  }
  .description {
    font-weight: 300;
    text-align: left;
    font-size: 120%;
    &.is-centered {
      text-align: center;
    }
  }
  .section {
    position: relative;
    padding: 40px 0;
    @media (min-width: 1000px) {
      padding: 55px 0 100px;
    }
    @media (min-width: 1400px) {
      padding: 85px 0 100px;
    }
    &.has-dark-bg {
      background-color: #edf8f5;
      background-position-y: -50px;
      @media (min-width: 750px) {
        background-image: url(../images/lp/bgr-wave.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position-y: -135px;
      }
      @media (min-width: 1000px) {
        background-position-y: -200px;
      }
      @media (min-width: 1400px) {
        background-position-y: -220px;
      }
      @media (min-width: 1600px) {
        background-position-y: -260px;
      }
      @media (min-width: 1800px) {
        background-position-y: -300px;
      }
      @media (min-width: 2100px) {
        background-position-y: -360px;
      }
      @media (min-width: 2500px) {
        background-position-y: -470px;
      }
    }
    &.papercut {
      background: linear-gradient(180deg, #ffffff 85%, #f1f1f1 100%);
      background-color: #fff;

    }
    .section-description {
      @media (min-width: 750px) {
        max-width: 60%;
        margin-left: auto;
        margin-right: auto;
      }
    }
    .container {
      display: flex;
      flex-flow: column;
    }
    .row {
      + .call-for-action {
        margin-top: calc(5rem*10/16);
      }
    }
    .content {
      margin-bottom: 40px;
      text-align: initial;
      .subtitle {
        font-family: $font-family-regular;
        font-size: calc(1.8rem*10/16);
        line-height: 1.2;
        color: #222;
        margin-bottom: 5px;
        display: block;
        @media (min-width: 1000px) {
          font-size: calc(2rem*10/16);
        }
        + p {
          font-family: $font-family-light;
          font-size: calc(1.3rem*10/16);
          line-height: 1.3;
          color: #111;
          @media (min-width: 750px) {
            font-size: calc(1.4rem*10/16);
          }
          @media (min-width: 1000px) {
            font-size: calc(1.6rem*10/16);
          }
        }
      }
      .strong-points {
        background: #006b50;
        padding: 30px;
        @media (min-width: 750px) {
          position: relative;
          top: 40px;
          margin-left: 0;
          width: 50%;
          border-radius: 15px;
          z-index: 1;
        }
        &.right {
          @media (min-width: 750px) {
            left: -50px;
          }
          + .image {
            @media (min-width: 750px) {
              right: -40px;
            }
            /* width: 54%;*/
          }
        }
        &.left {
          @media (min-width: 750px) {
            right: -50px;
          }
          + .image {
            @media (min-width: 750px) {
              left: -40px;
            }
          }
        }
        div {
          * {
            color: #fff;
          }
        }
        + .image {
          // position: relative;
          margin: 0;
          @media (min-width: 750px) {
            width: 40%;
          }
        }
      }
    }
    .title-2 {
      a {
        margin-left: 10px;
        text-decoration: none;
        font-weight: 800; /* Move to using svg/font icon instead of &rarr; */
      }
      + .content {
        margin-top: 55px;
      }
    }
    .sub-title {
      + .content:first-of-type {
        margin-top: 55px;
      }
      + .row:first-of-type {
        margin-top: 55px;
      }
    }
    .call-for-action {
      font-family: $font-family-regular;
      font-size: calc(1.6rem*10/16);
      line-height: 1.3;
      letter-spacing: 0;
      text-decoration-color: $color-highlight;
      color: #222;
      @media (min-width: 750px) {
        font-size: calc(2rem*10/16);
      }
      &:after {
        content: url("../images/icons/arrow.svg");
        margin-left: 10px;
      }
    }
    &.highlights {
      padding-bottom: 200px;
      background: linear-gradient(90.16deg, #13bd8d 6.68%, #15d19c 92.78%);
      color: #fff;
      @media (min-width: 500px) {
        padding-bottom: 150px;
      }
      @media (min-width: 750px) {
        padding-bottom: 100px;
      }
      // @media (max-width: 576px) {
      //   padding-left: 15px;
      //   padding-right: 15px;
      // }
    }
  }
  .highlights {
    .row {
      // display: flex;
      &:not(:first-of-type) {
        margin-top: 45px;
      }
    }
    .sub-title {
      text-align: left;
      margin-bottom: 10px;
      @media (min-width: 750px) {
        text-align: center;
      }
      @media (min-width: 1000px) {
        font-size: 22px;
      }
      + div {
        text-align: left;
        font-family: $font-family-light;
        margin-bottom: 15px;
        @media (min-width: 750px) {
          padding: 0 10px;
          margin-bottom: inherit;
          text-align: inherit;
        }
        @media (min-width: 1000px) {
          font-size: 18px;
          padding: 0 20px;
        }
      }
    }
  }
  .highlights-banner {
    position: relative;
    z-index: 1;
    top: -165px;
    display: flex;
    flex-wrap: wrap;
    padding: 12px 0px;
    margin: 0 auto;
    background: #ffffff;
    box-shadow: 3px 3px 14px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    width: 85%;
    @media (min-width: 500px) {
      top: -105px;
    }
    @media (min-width: 750px) {
      align-items: flex-end;
      justify-content: center;
      padding: 15px 20px;
      //justify-content: space-evenly;
      top: -55px;
    }
    @media (min-width: 1000px) {
      width: 75%;
    }
    .banner-item {
      width: fit-content;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      flex: 1 0 100%;
      margin: 0 auto;
      @media (min-width: 400px) {
        flex-wrap: wrap;
        flex-basis: auto;
        flex-flow: column;
      }
      @media (min-width: 750px) {
        padding: 10px;
      }
      .icon {
        margin-right: 10px;
        height: auto;
        max-height: 30px;
        min-height: 18px;
        min-width: 60px;
        @media (min-width: 750px) {
          margin-right: 0;
          margin-bottom: 10px;
          max-height: 35px;
          width: 100%;
          min-width: inherit;
        }
        @media (min-width: 1000px) {
          max-height: 45px;
        }
        @media (min-width: 1200px) {
          max-height: 65px;
          min-height: 38px;
        }
      }
      .icon-title {
        font-size: calc(1.6rem*10/16);
        text-align: center;
        font-family: $font-family-regular;
        @media (min-width: 750px) {
          font-size: calc(1.3rem*10/16);
        }
        @media (min-width: 1000px) {
          font-size: 17.164px;
        }
      }
    }
  }
  #section01 {
    height: 0;
    + .section {
      padding-top: 250px;
      @media (min-width: 750px) {
        padding-top: 200px;
      }
      @media (min-width: 1000px) {
        padding-top: 250px;
      }
    }
  }
  #section02 {
    padding-bottom: 50px;
    .image {
      width: 100%;
      height: auto;
      @media (min-width: 750px) {
        min-width: 300px;
        max-width: 500px;
      }
    }
  }
  #section02a {
    padding-top: 50px;
    .row {
      .sub-title {
        font-size: calc(1.5rem*10/16);
        font-family: var(--font-family-book);
        margin-bottom: 10px;
        @media (min-width: 750px) {
          font-size: calc(1.8rem*10/16);
        }
        img {
          vertical-align: middle;
          max-width: 20px;
          margin-right: 10px;
          width: 100%;
          height: auto;
          @media (min-width: 750px) {
            max-width: 30px;
          }
        }
      }
      div:not(.sub-title) {
        font-family: $font-family-book;
        font-size: calc(1.3rem*10/16);
        margin-bottom: 5px;
        @media (min-width: 1000px) {
          font-size: calc(1.5rem*10/16);
          margin-bottom: 0;
        }
      }
    }
  }
  #section02aa{
   .sub-title {
    font-family: $font-family-book;
    margin-bottom: 20px;
   }
   .aa-desc {
    font-family: $font-family-light;
   }
  }
  #section03 {
    .content {
      @media (min-width: 750px) {
        display: flex;
        align-items: flex-start;
      }
    }
  }
  #section04 {
    #platforms-yours {
      font-size: calc(4rem*10/16);
      color: $color-highlight;
    }
    .row {
      overflow: auto;
    }
  }
  #section06 {
    background: linear-gradient(
      91.39deg,
      #edf8f5 4.26%,
      rgba(237, 248, 245, 0.18) 25.87%,
      rgba(237, 248, 245, 0.18) 75.64%,
      #edf8f5 94.09%
    );
    .content {
      & > .column {
        text-align: center;
      }
      .image {
        max-width: 250px;
      }
    }
  }
  #section07 {
    padding-top: 70px;
    .success-stories {
      .column {
        text-align: center;
        margin: auto 0;
      }
      .image {
        max-width: 250px;
      }
      .contacts {
        .column {
          display: flex;
          align-items: center;
          margin-bottom: 24px;
        }
        .image {
          max-width: 40px;
          display: inline-block;
          margin-right: 10px;
        }
        span {
          font-size: 20px;
          color: #515151;
        }
      }
    }
  }
  #section08 {
    @media (min-width: 750px) {
      padding: 80px 0;
    }
    @media (min-width: 1000px) {
      padding: 110px 0;
    }
    .call-for-action {
      margin: 20px auto 10px;
    }
  }
  .platforms-container {
    margin: auto;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    li {
      list-style: none;
      /* flex: 1; */
      /* text-align: left;*/
      font-size: 12px;
      margin: 0;
      padding: 30px 15px;
      line-height: 1.5;
    }
  }
  .platform-icon {
    height: 40px;
    filter: grayscale(0.8) opacity(0.85);
    &.emphasized {
      height: auto;
      filter: none;
      margin-top: -25px;
    }
  }
}
