:root {
  --color-font: #222222;
  --color-emphasis: #ec682a;
  --header-height: 63px;
  --sln-height: 80px;
  --footer-height: 347px;
  --footer-title-color: #fff;
  --font-family-regular: BentonSans, sans-serif;
  --font-family-light: BentonSansLight, sans-serif;
  --font-family-medium: BentonSansMedium, sans-serif;
  --font-family-book: BentonSansBook, sans-serif;
  --code-color-font: #d14;
  --feedback-height: 70px;
  --feedback-height-total: 190px;  
  --tile-title-background-color: #0b8062;
  --tile-subtitle-background-color: #caeae2;
  --tile-subtitle-background-color: #cceae2;
}

$font-family-light: var(--font-family-light);
$font-family-book: var(--font-family-book);
$font-family-regular: var(--font-family-regular);
$font-family-medium: var(--font-family-medium);
$font-family-bold: var(--font-family-bold);
$font-color: var(--color-font);
$color-highlight: var(--color-emphasis);
$inverted-font-color: var(--footer-title-color);
$header-height: var(--header-height);
$footer-height: var(--footer-height);
$sln-height: var(--sln-height);
$code-color-font: var(--code-color-font);
$feedback-height: var(--feedback-height);
$feedback-height-total: var(--feedback-height-total);
$tile-title-background-color: var(--tile-title-background-color);
$tile-subtitle-background-color: var(--tile-subtitle-background-color);