{{ define "main"}}
    <div id="main" style="margin-top: 2%; display: flex; justify-content: center; align-items: center;">
      <!-- <div><img src="../../images/404-image-resized.svg" style="max-width: 100%; height: auto; width: auto\9;">
        <p style="font-size:10px">Image by <a href="https://www.freepik.com/free-vector/404-error-with-landscape-concept-illustration_20602785.htm#query=404%20illustrations&amp;position=0&amp;from_view=keyword&amp;track=ais_user&amp;uuid=bf908625-fffb-449b-bf9f-701f0c081188">storyset</a> on Freepik</p>
      </div> -->
      <div style="text-align: center; display: flex; flex-direction: column; justify-content: center; align-items: center;">
        <h4 style="margin-bottom: 20px;">Page Not Found</h3>
        <p id="404-descr">We dug around, but couldn't find the page that you were looking for.</p>
        <ul id="links" style="padding: 0; list-style-position:inside; text-align: left; font-size: 140%;"></ul>
        <p id="404-redirect">You could go back to our <a href="{{ "/" | relURL }}">home page</a> or use the search bar to find what you were looking for.</p>
        <div style="margin-bottom: 20%;"></div>
       </div>
      </div>

    {{ $assetBusting := not .Site.Params.disableAssetsBusting }}
    <script src='{{ "/js/404.js" | relURL }}{{ if $assetBusting }}?{{ now.Unix }}{{ end }}'></script>
  
{{ end }}