<!DOCTYPE html>
<html lang='{{ .Page.Language | default "en" }}' class="js csstransforms3d">

<head>
  <meta name="google-site-verification" content="SuK1SzUcsVmJKoUJgTKC5Dks648fY2DCXEMiOx-1TyM" />
  {{ partial "meta.html" . }}
  {{ partialCached "head.html" . }}
  <title>{{ with .Title }}{{ . }}{{ else }}{{ with .Site.title }}{{ . }}{{ end }}{{ end }}</title>
  {{ partial "google-tags-manager.html" . }}

  {{- $assetBusting := not .Site.Params.disableAssetsBusting -}}

  <!-- Scripts (web pack required in the future)
      –––––––––––––––––––––––––––––––––––––––––––––––––– -->

<body data-url='{{ .RelPermalink }}'>

  {{ partial "navbar.html" . }}

  <div class="landingpage">
    <div id="hero">
      <div class="container">
        <div class="content">
          <div class="hero-text">
            <img src='{{"images/lp/gardener-logo.svg" | relURL}}' alt="Gardener Logo">
            <div class="sub-title">
              Deliver fully-managed clusters at scale everywhere with your own Gardener installation
            </div>
            <div class="hero-actions">
              {{- with .Site.GetPage "section" "documentation/020_getting-started" -}}
              <a class="btn action-btn" href='{{ .URL }}'><span>Get Started</span></a>
              {{- end -}}
              <!--a class="action-btn movie" href="#kmsembed-1_7gd2gw78" data-lity><i class="fa fa-film"></i><span>Watch The Video</span></a-->
            </div>
          </div>
          <div class="hero-img">
            <img src='{{"images/lp/gardener-logo.svg" | relURL }}'>
          </div>
        </div>
        {{ if and (isset .Site.Params "enable_news") .Site.Params.enable_news }} 
        <div class="news">    
          {{ partial "news.html" . }}
        </div>
        {{ end }}
      </div>
    </div>

    <div class="section highlights sticky-nav-point" id="section00" style="background: #0f674e">
      <div class="container">
        <h2 class="title-1 is-centered">A Managed Kubernetes Service Done Right</h2>
        <div class="row is-centered">
          <div class="one-third column">
            <div class="sub-title">Cloud-Native at Heart</div>
            <div>As a standard Kubernetes extension, Gardener adheres to the same principles for 
              resiliency, manageability, observability and high automation by design.</div>
          </div>
          <div class="one-third column">
            <div class="sub-title">Open Community Effort</div>
            <div>The Gardener project is committed to fostering an open community of collaborators and adopters. We aim
              to deliver a standard solution that meets the needs of our entire community and ecosystem.</div>
          </div>
          <div class="one-third column">
            <div class="sub-title">Solving Authentic Problems</div>
            <div>Gardener was born as a solution for actual and common problems such as controlling 
              the Kubernetes stack, minimizing TCO, and operating in restricted environments, at massive scale.</div>
          </div>
        </div>
      </div>
    </div>

    <div class="container" id="section01">
      <div class="highlights-banner">
        <div class="row">
          <div class="banner-item">
            <img style="margin-bottom: 16px; margin-top: 5px;" class="icon" src='{{"images/lp/lp-banner-everywhere.svg" | relURL }}'>
            <span class="icon-title">Everywhere</span>
          </div>
          <div class="banner-item">
            <img class="icon" src='{{"images/lp/lp-banner-homogeneous.svg" | relURL }}'>
            <span class="icon-title">Homogeneous</span>
          </div>
          <div class="banner-item">
            <img class="icon" src='{{"images/lp/lp-banner-managed.svg" | relURL }}'>
            <span class="icon-title">Fully Managed</span>
          </div>
          <div class="banner-item">
            <img class="icon" src='{{"images/lp/lp-banner-customizable.svg" | relURL }}'>
            <span class="icon-title">Customizable</span>
          </div>
          <div class="banner-item">
            <img class="icon" src='{{"images/lp/lp-banner-scalable.svg" | relURL }}'>
            <span class="icon-title">Scalable</span>
          </div>
        </div>
      </div>
    </div>

    <div class="section has-dark-bg" id="section02">
      <div class="container is-centered">
        <h2 class="title-1 has-subtitle">Kubeception</h2>
        <span class="sub-title">By running Kubernetes on Kubernetes, Gardener provides high availability and resource usage efficiency</span>
        <div class="content">
          <img class="one-half column image" src='{{"images/lp/lp-gardener-diagram.svg" | relURL }}'
            style="max-width: 1000px;margin: 0 auto;">
        </div>
      </div>
    </div>
    <div class="section papercut" id="section02a">
      <div class="container">
        <div class="row">
          <div class="one-fourth column">
            <div class="sub-title"><img src='{{"images/lp/icon-cluster-hub.svg" | relURL }}'><span>Cluster Fleet
                Hub</span></div>
            <div>A single seed cluster can scale to register and manage thousands of shoot clusters as long as a gardenlet is deployed, 
              regardless of their location.</div>
          </div>
          <div class="one-fourth column">
            <div class="sub-title"><img src='{{"images/lp/k8s-green.svg" | relURL }}'><span>Kubernetes Native</span>
            </div>
            <div>Gardener manages clusters very much like pods are orchestrated in Kubernetes. Cluster workloads are
              scheduled and Gardenlets, similar to Kubelets, take over to manage them in particular environments in a
              loosely coupled, controller pattern.</div>
          </div>
          <div class="one-fourth column">
            <div class="sub-title"><img src='{{"images/lp/lp-banner-managed.svg" | relURL }}'><span>Fully Managed</span>
            </div>
            <div>Gardenlets manage control planes, worker nodes (full lifecycle, self-healing and updates) and cluster
              components, such as the overlay network, DNS and certificates, control plane monitoring and logging stack,
              to provide automation, resilience and observability.</div>
          </div>
          <div class="one-fourth column">
            <div class="sub-title"><img src='{{"images/lp/lp-banner-scalable.svg" | relURL }}'><span>Scalable by
                Design</span></div>
            <div>A single Kubernetes cluster can host an enormous amount of control planes. Gardener can scale-out
              massively by more control plane clusters and letting the Gardenlets do the heavy lifting. In fact, those
              clusters can also be managed by Gardener for maximum efficiency.</div>
          </div>
        </div>
        <a class="call-for-action is-centered" href="https://gardener.cloud/docs/gardener/"
          target="_blank">Learn more about the concepts behind Gardener</a>
      </div>
    </div>
    <div class="section papercut" id="section02aa">
      <div class="container is-centered">
        <h2 class="title-2 has-subtitle">Highlights</h2>
          <div class="row is-centered">
            <div class="col">
              <img src='{{"images/highlights/cloud-agnostic.svg" | relURL }}'>
              <div class="sub-title">Homogeneous</div>
              <div class="aa-desc">Identical Day-1 & 2 operations on any supported infrastructure</div>
            </div>
            <div class="col">
              <img src='{{"images/highlights/gardener.svg" | relURL }}'>
              <div class="sub-title">Open Source Grown</div>
              <div class="aa-desc">Powered by the open source Gardener project, developed in the public, pioneered by SAP</div>
            </div>
            <div class="col">
              <img src='{{"images/highlights/extensible.svg" | relURL }}'>
              <div class="sub-title">Ultra Scalable</div>
              <div class="aa-desc">Fleet management of thousands of clusters with low TCO by design</div>
            </div>
          </div>
          <div class="row is-centered">
            <div class="col">
              <img src='{{"images/highlights/certified.svg" | relURL }}'>
              <div class="sub-title">Certified and Compliant</div>
              <div class="aa-desc">Enterprise-grade security certifications, CNCF 100% Kubernetes compliant</div>
            </div>
            <div class="col">
              <img src='{{"images/highlights/ubiqutious.svg" | relURL }}'>
              <div class="sub-title">Ubiquitous</div>
              <div class="aa-desc">The same experience in Amazon, Azure, Google, Alicloud</div>
            </div>
            <div class="col">
              <img src='{{"images/highlights/autonomous.svg" | relURL }}'>
              <div class="sub-title">Autonomous</div>
              <div class="aa-desc">Self-healing, auto-scaling, and if you choose, auto-updating operating system and Kubernetes</div>
            </div>
          </div>
          <style>
            #section02aa .col {
              margin-top: 70px;
            }

            .btn-container > div{
              display: flex; 

              justify-content: space-evenly;
            }  
             .btn-grad {
                background-image: linear-gradient(to right, #0f674e 0%, #1dae85  51%, #0f674e  100%);
                margin: 10px;
                padding: 10px 20px;
                text-align: center;
                transition: 0.5s;
                background-size: 200% auto;
                color: white;            
                border-radius: 20px;
                display: block;
                box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 3px 10px 0 rgb(0 0 0 / 19%);
                border: 0px;
              }
    
              .btn-grad:hover {
                background-position: right center; /* change the direction of the change here */
                color: #fff;
                text-decoration: none;
              }
             
        </style>
      </div>
    </div>

    <div class="section papercut" id="section03">
      <div class="container is-centered">
        <h2 class="title-2 has-subtitle">Get The Kubernetes You Really Want</h2>
        <span class="sub-title">Gardener provisions flexible clusters without the need to set them up yourself</span>
        <div class="row content">
          <img class="one-half column image" src='{{"images/lp/lp-section-001.svg" | relURL }}'>
          <div class="one-half column strong-points right">
            <div>
              <span class="subtitle">Configurable</span>
              <p>Gardener control planes allow you to control a 
                <a href="https://github.com/gardener/gardener/blob/master/example/90-shoot.yaml">wide range of features gates and configurations</a>.</p>
            </div>
            <div>
              <span class="subtitle">The updates you want, when you want them</span>
              <p>No more unexpected updates! Gardener allows you to update Kubernetes to the version you want, when you
                want it, rather than when your cloud provider decides. It even allows you to update your Host OS when
                desired.</p>
            </div>
            <div>
              <span class="subtitle">100% Kubernetes compliant</span>
              <p>Gardener is Kubernetes native and is not shy to be completely transparent on its compliance, proudly
                holding the 100% badge with <a href="https://testgrid.k8s.io/conformance-gardener">public
                  evidence</a> for that.</p>
            </div>
            <div>
              <span class="subtitle">The one you already know</span>
              <p>Gardener delivers the same Kubernetes you know from kubernetes.io and are certified for. The same
                binaries, the same tools; you are already trained to use it.</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="section papercut" id="section05">
      <div class="container is-centered">
        <h2 class="title-2 has-subtitle">However You Want It</h2>
        <span class="sub-title">Extend And Contribute To Gardener</span>
        <div class="content row">
          <div class="one-half column strong-points left">
            <div>
              <span class="subtitle">Extensible By Design</span>
              <p>Gardener is a modular system of managed extensions around a robust core, fully adaptable in multiple
                dimensions. Extend the existing extension set or add completely new pieces. And while you are at it, why
                not contribute them back to the community and benefit from the contributions of others?</p>
            </div>
            <div>
              <span class="subtitle">Managed Extensions</span>
              <p>Gardener watches over and manages extensions, automatically reconciling their actual and desired state
                as designed.</p>
            </div>
            <div>
              <span class="subtitle">Control the Stack</span>
              <p>You are in control of the setup for the cluster that will be delivered by Gardener. Choose the
                components you actually need. </p>
            </div>
          </div>
          <img class="one-half column image right" src='{{"images/lp/extensbility-overview.svg" | relURL }}'>
        </div>
        <a href="https://gardener.cloud/docs/gardener/extensions/overview/"
          class="call-for-action">Learn more about Gardener's extensibility</a>
      </div>
    </div>

    <div class="section papercut" id="section04">
      <div class="container is-centered">
        <h2 class="title-2 has-subtitle">Everywhere You Want It</h2>
        <span class="sub-title">The compute resources you need, wherever you want them</span>
        <div class="row">
          <ul class="platforms-container">
            <li>
              <img src='{{"images/lp/platforms/alibaba-cloud.svg" | relURL }}' class="platform-icon">
              <div class="platform-text">Alibaba Cloud</div>
            </li>
            <li>
              <img src='{{"images/lp/platforms/aws.svg" | relURL }}' class="platform-icon">
              <div class="platform-text">Amazon Web Services</div>
            </li>
            <li>
              <img src='{{"images/lp/platforms/microsoft-azure.svg" | relURL }}' class="platform-icon">
              <div class="platform-text">Microsoft Azure</div>
            </li>
            <li>
              <img src='{{"images/lp/platforms/google-cloud-platform.svg" | relURL }}' class="platform-icon">
              <div class="platform-text">Google Cloud Platform</div>
            </li>
            <li>
              <img src='{{"images/lp/platforms/metalstack.svg" | relURL }}' class="platform-icon">
              <div class="platform-text">Metal-Stack</div>
            </li>
            <li>
              <img src='{{"images/lp/platforms/openstack.svg" | relURL }}' class="platform-icon">
              <div class="platform-text">OpenStack</div>
            </li>
            <li>
              <img src='{{"images/lp/platforms/equinix-metal.svg" | relURL }}' class="platform-icon">
              <div class="platform-text">Equinix Metal</div>
            </li>
            <li>
              <img style="margin-left: 20px;" src='{{"images/lp/platforms/sap.svg" | relURL }}' class="platform-icon">
              <div class="platform-text">SAP </br> Data Center</div>
            </li>
            <!-- <li>
              <img src='{{"images/lp/platforms/vmware.svg" | relURL }}' class="platform-icon">
              <div class="platform-text">VMware vSphere</div>
            </li> -->
            <li>
              <img src='{{"images/lp/platforms/iron_core.svg" | relURL }}' class="platform-icon">
              <div class="platform-text">Iron Core</div>
            </li>
          </ul>
        </div>
        <a href="https://gardener.cloud/docs/gardener/new-cloud-provider/"
          class="call-for-action">New infrastructure use case? Let's build it together</a>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    {{ partial "footer.html" . }}
  </div>

  {{ partial "google-tags-manager-frame.html" . }}
  {{ partialCached "scripts.html" . }}

</body>
<script>
  document.querySelectorAll(".taxonomy-term").forEach((el) => {
    el.addEventListener("click",(event) => {
      const roleSelected = event.currentTarget.innerHTML
      window.sessionStorage.setItem("role_selected",roleSelected)
      location.reload()
    })
  })
  const taxonomyTerms = Array.from(document.querySelectorAll(".taxonomy-term"))
  taxonomyTerms
    .filter(tt => tt.innerHTML.includes(window.sessionStorage.getItem("role_selected")))
    .map(tt => tt.setAttribute("class","taxonomy-term selectedTaxonomy"))
</script>
</html>
