@font-face {
  font-family: "SAPcom icons";
  src: url("../fonts/sapcom-icons/sapcom-icons.woff") format("woff"),
    url("../fonts/sapcom-icons/sapcom-icons.ttf") format("truetype"),
    url("../fonts/sapcom-icons/sapcom-icons.svg#sapcom-icons") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* span[class^="icon-"]:before,
span[class^="icon-"]:after {
  font-size: 2em;
} */
.icon-arrow-down:before {
  content: "\e000";
}
.icon-arrow-left:before {
  content: "\e001";
}
.icon-arrow-right:before {
  content: "\e002";
}
.icon-checkmark:before {
  content: "\e003";
}
.icon-home:before {
  content: "\e004";
}
.icon-menu:before {
  content: "\e005";
}
.icon-message:before {
  content: "\e006";
}
.icon-phone:before {
  content: "\e007";
}
.icon-screen:before {
  content: "\e008";
}
.icon-search:before {
  content: "\e009";
}
.icon-share:before {
  content: "\e00a";
}
.icon-talk:before {
  content: "\e00b";
}
.icon-twitter:before {
  content: "\e00c";
}
.icon-arrow-down02:before {
  content: "\e00d";
}
.icon-arrow-down03:before {
  content: "\e00e";
}
.icon-arrow-up:before {
  content: "\e00f";
}
.icon-checkmark02:before {
  content: "\e010";
}
.icon-facebook:before {
  content: "\e011";
}
.icon-google-plus:before {
  content: "\e012";
}
.icon-join-us:before {
  content: "\e013";
}
.icon-linked-in:before {
  content: "\e014";
}
.icon-logon:before {
  content: "\e013";
}
.icon-logoff:before {
  content: "\e015";
}
.icon-message02:before {
  content: "\e016";
}
.icon-phone02:before {
  content: "\e017";
}
.icon-pinterest:before {
  content: "\e018";
}
.icon-search02:before {
  content: "\e019";
}
.icon-share02:before {
  content: "\e01a";
}
.icon-slideshare-solid:before {
  content: "\e01b";
}
.icon-twitter02:before {
  content: "\e01c";
}
.icon-youtube:before {
  content: "\e01d";
}
.icon-slideshare-left:before {
  content: "\e01e";
}
.icon-slideshare-right:before {
  content: "\e01f";
}
.icon-slideshare-top:before {
  content: "\e020";
}
.icon-cart:before {
  content: "\e021";
}
.icon-close:before {
  content: "\e600";
}
.icon-zoom-in:before {
  content: "\e601";
}
.icon-star:before {
  content: "\e9d9";
}
.icon-tag:before {
  content: "\e602";
}
.icon-event:before {
  content: "\e903";
}
.icon-search03:before {
  content: "\e908";
}
.icon-geotargetting:before {
  content: "\e904";
}
.icon-cta-button-pointer:after {
  content: "\e907a";
}
.icon-standard-menu-arrow-right:before {
  content: "\e909";
}
.icon-standard-language:before {
  content: "\e90a";
}
.icon-standard-menu:before {
  content: "\e90b";
}
.icon-facebook-2:before {
  content: "\e907";
}
.icon-instagram:before {
  content: "\e906";
}
.icon-twitter:before {
  content: "\e905";
}
.icon-account:before {
  content: "\e00e";
  font-family: "SAPcom icons";
}
.icon-arrowdown:before {
  content: "\e022";
  font-family: "SAPcom icons";
}
.icon-arrowleft:before,
.icon-arrow-prev:before {
  content: "\e000";
  font-family: "SAPcom icons";
}
.icon-arrowright:before,
.icon-arrow-next:before {
  content: "\e001";
  font-family: "SAPcom icons";
}
.icon-arrowup:before {
  content: "\e023";
  font-family: "SAPcom icons";
}
.icon-chat:before {
  content: "\e018";
  font-family: "SAPcom icons";
}
.icon-check:before {
  content: "\e013";
  font-family: "SAPcom icons";
}
.icon-check-outline:before {
  content: "\e014";
  font-family: "SAPcom icons";
}
.icon-circle:before {
  content: "\e00f";
  font-family: "SAPcom icons";
}
.icon-circle-outline:before {
  content: "\e010";
  font-family: "SAPcom icons";
}
.icon-circle-half:before {
  content: "\e027";
  font-family: "SAPcom icons";
}
.icon-close:before {
  content: "\e002";
  font-family: "SAPcom icons";
}
.icon-comm-comments:before {
  content: "\e01a";
  font-family: "SAPcom icons";
}
.icon-comm-likes-outline:before {
  content: "\e01b";
  font-family: "SAPcom icons";
}
.icon-comm-question-answered:before {
  content: "\e01c";
  font-family: "SAPcom icons";
}
.icon-comm-question-open:before {
  content: "\e01d";
  font-family: "SAPcom icons";
}
.icon-comm-question-withresponses:before {
  content: "\e01e";
  font-family: "SAPcom icons";
}
.icon-comm-views:before {
  content: "\e01f";
  font-family: "SAPcom icons";
}
.icon-comm-votes:before {
  content: "\e020";
  font-family: "SAPcom icons";
}
.icon-download:before {
  content: "\e003";
  font-family: "SAPcom icons";
}
.icon-dropdown:before {
  content: "\e015";
  font-family: "SAPcom icons";
}
.icon-email:before {
  content: "\e004";
  font-family: "SAPcom icons";
}
.icon-environment:before {
  content: "\e005";
  font-family: "SAPcom icons";
}
.icon-finance:before {
  content: "\e006";
  font-family: "SAPcom icons";
}
.icon-fullscreen:before {
  content: "\e024";
  font-family: "SAPcom icons";
}
.icon-globe:before {
  content: "\e007";
  font-family: "SAPcom icons";
}
.icon-impaired:before {
  content: "\e019";
  font-family: "SAPcom icons";
}
.icon-info:before {
  content: "\e021";
  font-family: "SAPcom icons";
}
.icon-maintain:before {
  content: "\e017";
  font-family: "SAPcom icons";
}
.icon-menu:before {
  content: "\e008";
  font-family: "SAPcom icons";
}
.icon-playbutton:before,
.icon-play:before {
  content: "\e009";
  font-family: "SAPcom icons";
}
.icon-replay:before {
  content: "\e028";
  font-family: "SAPcom icons";
}
.icon-print:before {
  content: "\e00a";
  font-family: "SAPcom icons";
}
.icon-search:before {
  content: "\e00b";
  font-family: "SAPcom icons";
}
.icon-share:before {
  content: "\e00c";
  font-family: "SAPcom icons";
}
.icon-social:before {
  content: "\e00d";
  font-family: "SAPcom icons";
}
.icon-star:before {
  content: "\e011";
  font-family: "SAPcom icons";
}
.icon-star-outline:before {
  content: "\e012";
  font-family: "SAPcom icons";
}
.icon-zoom:before {
  content: "\e016";
  font-family: "SAPcom icons";
}
.icon-zoomIn:before {
  content: "\e025";
  font-family: "SAPcom icons";
}
.icon-zoomOut:before {
  content: "\e026";
  font-family: "SAPcom icons";
}
.icon-clear:before {
  content: "\e02a";
  font-family: "SAPcom icons";
}
