
{{ partial "header_blank.html" . }}
{{ $hero := resources.Get "sass/hero.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $hero.Permalink }}">
{{ $css := resources.Get "sass/faq.scss" | resources.ToCSS | resources.Minify | resources.Fingerprint }}
<link rel="stylesheet" href="{{ $css.Permalink }}">

<div  class="hero">
    <div class="container">
        <h1>Frequently Ask Questions</h1>
        <div class="preamble reveal-slow" style="visibility:hidden">
            We see a few common issues coming up so we thought we'd summarise them in a single page.
        </div>
    </div>
</div>


{{ .Content }}


<div class="faqs">
{{ range $index, $page :=  ((sort (where (where $.Site.Pages "Section" "020-faq") "Type" "FAQ" ) ".Dir" "desc")) }}
<div  class="collapse-list" data-path="path">
    <input class="collapse-open" type="checkbox" checked  id="collapse-{{$index}}">
    <h1 class="collapse-btn sticky"                  for="collapse-{{$index}}">
            {{ .Title }}



        <a href='{{ .Site.Params.editURL }}{{ replace .Dir "\\" "/" }}{{ .LogicalName }}'   target="_blank" style="float:right" class="header-link inline">
            <i class="fa fa-code-fork"></i>
            <span id="top-github-link-text">{{T "Edit-this-page"}}</span>
        </a>
    </h1>
    <div class="collapse-panel">
        <div class="collapse-inner padding">
            <div class="last-update">Updated <span>{{ partial "git_date.html" . }}</span> by {{ partial "git_author.html" . }}</div>
            {{.Content}}
        </div>
    </div>
</div>
{{end}}
</div>

{{ partial "footer.html" . }}