
    <script>
    // override the scrollbar adjustment from the "learn" theme and add the feature to store the scroll
    // position of the left navigation bar
    function setMenuHeight() {
        $('#sidebar .highlightable').height($('#sidebar').innerHeight() - $('#header-wrapper').height() - 40);
        $('#sidebar .highlightable').perfectScrollbar('update');
        var $blockList = $('#sidebar .highlightable');
        if ($blockList.length && window.localStorage) {
            var position = localStorage.getItem('blockListScrollPosition');
            if (position) {
                $blockList.scrollTop(position);
            }
            $(window).on('unload', function () {
                var scrollPosition = $blockList.scrollTop();
                localStorage.setItem('blockListScrollPosition', scrollPosition);
            });
        }
    }

    // any link that is not part of the current domain will be modified
    // and opened in an external window
    (function () {
        $("#body-inner a").not(".inline")
            .each(function () {
                if (this.hostname != window.location.hostname && this.href.indexOf("mailto:")===-1) {
                    this.target = '_blank';
                    $(this).addClass("externalLink");
                    if($(this).find("img").length===0) {
                        this.innerHTML += '<i class="fa fa-external-link" aria-hidden="true"></i>';
                    }
                }
            });



    })();

    </script>