name: PR Preview
on:
  pull_request:
    types:
      - opened
      - reopened
      - synchronize
      - closed

permissions:
  pull-requests: write

concurrency: preview-${{ github.ref }}

jobs:
  deploy-preview:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          cache: npm
      - name: Docforge
        run: |
          wget https://github.com/gardener/docforge/releases/download/v0.55.0/docforge-linux-amd64
          mv docforge-linux-amd64 docforge
          chmod +x docforge
          DOCFORGE_CONFIG=.docforge/config.yaml GITHUB_OAUTH_TOKEN=${{ secrets.GARDENER_ROBOT_PREVIEW_TOKEN }} ./docforge
      - name: Install dependencies
        run: npm ci
      - name: Postprocessing Content
        run: |
          npm run post-processing-all
      - name: Set Base Path
        id: set-base-path
        run: |
          echo "VITE_PUBLIC_BASE_PATH=/pr-preview/pr-${{ github.event.pull_request.number }}/" >> $GITHUB_ENV
          echo "Base path set to: /pr-preview/pr-${{ github.event.pull_request.number }}/"
      - name: Build with VitePress
        run: |
          echo "Building with VITE_PUBLIC_BASE_PATH: '$VITE_PUBLIC_BASE_PATH'"
          npm run docs:build  

      - name: Deploy preview
        uses: rossjrw/pr-preview-action@v1
        with:
          token: ${{ secrets.GARDENER_ROBOT_PREVIEW_TOKEN }}
          deploy-repository: gardener/documentation-demo
          pages-base-url: documentation-demo.gardener.cloud
          source-dir: .vitepress/dist